<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.houxiaohui.dao.ClassDao">
  		<!-- 查询总共班级数用于分页 -->
  		<select id="selectClassCount" resultType="int">
  			select count(classid) from tb_class
  		</select>
  		<!-- 查询班级信息 -->
  		<select id="selectClass" parameterType="map" resultType="map">
  			select c.classname,c.classsize,c.remark,g.gradename from tb_class c
  			left join tb_grade g on c.gradeid=g.gradeid
  			 limit #{pageStart},#{pageSize}	
  		</select>
  		<!-- 查询年级信息 -->
  		<select id="selectGrade" resultType="com.houxiaohui.entity.Grade">
  			select gradeid,gradename from tb_grade
  		</select>
  		<!-- 添加班级 -->
  		<insert id="addClass" parameterType="com.houxiaohui.entity.Classes">
  			insert into tb_class(classname,classsize,gradeid,remark) values(#{className},#{classSize},#{gradeId},#{remark})
  		</insert> 
  </mapper>
